* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Verdana, sans-serif;
  padding: 5%;
}

h1 {
  text-align: center;
  margin: 20px;
}

section {
  background-color: #99FF99;
  border: 1px solid black;
  margin: 1%;
  padding: 0px;
  float: left;
}

@media (min-width: 768px) and (max-width: 991px) {
  section.firsttwo {
    width: 48%;
  }
}

@media (min-width: 992px) {
  section {
    width: 31.33%;
  }
}

section > h3 {
 position: relative;
 right: 0px;
 float: right;
 margin:0px 0px 10px 0px;
 padding: 5px 20px 5px 20px;
 overflow: auto;
 text-align: center;
 border-left: 1px solid #000000;
 border-bottom: 1px solid #000000;
}

section #one {
  background-color: #003300;
  color: #e0eee0;
}

section #two {
  background-color: #006600;
  color: #e0eee0;
}

section #three {
  background-color: #333300;
  color: #e0eee0;
}

p {
  clear: right;
  padding: 10px;
  color: #003300;
}
